* {
    color: white;
   
}
/* #7ECFD7 #61ced8*/
section {
    background-color: #61ced8;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #EF4D62;
    box-shadow: 0 6px #BF2F41;
}
/* nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.nav-brand {
    width: 120px;
}

.nav-brand img {
    width: 100%;
}

.nav-link {
    list-style: none;
    margin-left: 30px;
    color: white !important;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn-custom {
   background-color: #EF4D62;
   border-radius: 6px;
   padding: 6px 20px;
   box-shadow: 0 5px #BF2F41;
   color: white;
}

.container .btn-custom {
    background-color: #EF4D62;
    border-radius: 6px;
    padding: 6px 20px;
    box-shadow: 0 5px #BF2F41;
 }

.btn-custom:hover {
    box-shadow: 0 5px #BF2F41;
    color: white;
}

.btn-custom:active {
      box-shadow: 0 1px 6px rgba(0, 0, 0, .2) inset,
      0 -1px 6px rgba(236, 236, 236, .4) inset;
   transform: translateY(5px);
}

.services .judul {
    text-align: center;
    margin-bottom: 30px;
}

.img-service {
    width: 500px;
}

.bg-item {
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-item {
    width: 60px;
    margin-bottom: 5px;
}

.bg-item h6 {
    margin-bottom: 10px;
}

.bg-item p {
    font-size: 14px;
}

.bg-menu {
    border: 4px solid #EF4D62;
    background-color: transparent;
    padding: 6px 20px;
    transform: scale(.9);
    cursor: pointer;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.product-toggle {
    padding: 6px 20px;
    background-color: transparent;
    border: 4px solid #EF4D62;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-sizing: border-box;
    transform: scale(.9);
    cursor: pointer;
    font-weight: bold;
}

.products .card {
border: none;
}

.products .card img {
width: 70%;
}

.products .card p {
font-size: .9em;
}

.products .fas {
font-size: 3em;
}

.products-wrapper {
    height: 300px;
}

.products-wrapper .food-slide {
transform: translateX(0);
transition: 1s ease;
}

.products-wrapper .drink-slide {
transform: translateX(100%);
transition: 1s ease;
}

.products-wrapper .snack-slide {
transform: translateX(200%);
transition: 1s ease;
}

#r1:checked~.s1 {
transform: scale(1);
background-color: #EF4D62;
}

#r1:checked~.products-wrapper .food-slide {
transform: translateX(0);
}

#r2:checked~.s2 {
transform: scale(1);
background-color: #EF4D62;
}

#r2:checked~.products-wrapper .snack-slide {
transform: translateX(100%);
}

#r2:checked~.products-wrapper .food-slide {
transform: translateX(-100%);
}

#r2:checked~.products-wrapper .drink-slide {
transform: translateX(0);
}

#r3:checked~.s3 {
transform: scale(1);
background-color: #EF4D62;
}

#r3:checked~.products-wrapper .food-slide {
transform: translateX(-200%);
}

#r3:checked~.products-wrapper .drink-slide {
transform: translateX(-100%);
}

#r3:checked~.products-wrapper .snack-slide {
transform: translateX(0);
}

.products-wrapper {
    height: auto;
    padding: 6px;
}

.fas {
    font-size: 3em;
}

i.fck {
    color: #EF4D62 !important;
}

.contact i {
    font-size: 1.8em;
    color: #EF4D62;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    border: 1px solid #333;
}

#sosmed {
    height: auto;
    padding: 60px !important;
}

.socmed .icon {
    font-size: 2rem;
    color: #EF4D62;
}

.socmed .row a {
    text-decoration: none;
    color: inherit;
    display: block;
 }
 
 .socmed .row a:hover .facebook {
    color: #5342b2;
    transition: .3s;
    transform: scale(1.2);
 }
 
 .socmed .row a:hover .instagram {
    color: #F56040;
    transition: .3s;
    transform: scale(1.2);
 }
 
 .socmed .row a:hover .twitter {
    color: #1DA1F2;
    transition: .3s;
    transform: scale(1.2);
 }
 
 .socmed .row a:hover .youtube {
    color: #FF0000;
    transition: .3s;
    transform: scale(1.2);
 }
 
 .socmed .row a:hover .line {
    color: #00c300;
    transition: .3s;
    transform: scale(1.2);
 }
 
 .socmed .row a:hover .discord {
    color: #738ADB;
    transition: .3s;
    transform: scale(1.2);
 }

 #footer {
     height: auto;
     background-color: #EF4D62;
 }

 .footer .built {
     border-top: 2px solid white;
 }

 @media screen and (max-width: 576px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .home {
        padding-top: 110px;
    }

    section {
        display: block;
        height: auto;
        padding-bottom: 120px;
    }

    h1 {
        font-size: 2.3rem;
    }

    p {
        font-size: 15px;
    }

    .btn {
        font-size: 13px;
    }

    .home .carousel {
        margin-top: 30px !important;
    }

    .home .carousel img {
        width: 240px;
    }

    .bungkus-img img {
        width: 100%;
    }

    .bg-item {
        padding: 20px;
        box-sizing: border-box;
    }

    .products-wrapper p {
        width: 100% !important;
    }

    .products-wrapper .carousel {
        margin-top: 30px !important;
    }

    .products-wrapper button {
        width: 120px !important;
    }

    .testimonial .kintil {
        margin-bottom: 70px;
    }

    .scn-text {
        font-size: 1.8rem;
    }

    .about img {
        width: 200px !important;
        margin: 30px 0px 0px;
    }

    .about .desc-store {
        margin-top: 20px !important;
    }

    .decor .desc-decor {
        margin-bottom: 50px !important;
    }

    .contact h4 {
        text-align: center;
    }

    .socmed .icon {
        font-size: 1.9rem;
        color: #EF4D62;
    }

    .socmed .bungkus-icon {
        width: 80%;
    }

    #sosmed {
        height: auto;
        padding: 0px 0px 30px !important;
    }

    #footer {
        padding-bottom: 0;
    }

    .footer .nama-company {
        margin-bottom: 20px;
    }

 }


 @media screen and (max-width: 768px) {
    section {
        display: block;
        height: auto;
        padding-bottom: 150px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .home {
        padding-top: 130px;
    }

    h1 {
        font-size: 2.3rem;
    }

    p {
        font-size: 14px;
    }

    .btn {
        font-size: 13px;
    }

    .home .carousel {
        margin-top: 35px !important;
    }

    .home .carousel img {
        width: 250px;
    }

    .bungkus-img img {
        width: 100%;
    }

    .bg-item {
        padding: 15px;
        box-sizing: border-box;
    }

    .products-wrapper p {
        width: 100% !important;
    }

    .products-wrapper .carousel {
        margin-top: 50px !important;
    }

    .products-wrapper button {
        width: 120px !important;
    }

    .testimonial .kintil {
        margin-bottom: 70px;
    }

    .scn-text {
        font-size: 1.9rem;
    }

    .about .store {
        width: 400px !important;
        margin: 50px 0px 0px;
    }

    .about .desc-store {
        margin-top: 20px !important;
    }

    .decor .desc-decor {
        margin-bottom: 50px !important;
    }

    .contact h4 {
        text-align: center;
    }

    .socmed .icon {
        font-size: 1.9rem;
        color: #EF4D62;
    }

    .socmed .bungkus-icon {
        width: 80%;
    }

    #sosmed {
        height: auto;
        padding: 0px 0px 30px !important;
    }

    #footer {
        padding-bottom: 0;
    }

    .footer .nama-company {
        margin-bottom: 20px;
    }

 }


 @media screen and (max-width: 992px) {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-bottom: 150px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .home {
        padding-top: 130px;
    }

    h1 {
        font-size: 2.1rem;
    }

    p {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }

    .home .carousel {
        margin-top: 35px !important;
    }

    .home .carousel img {
        width: 250px;
    }

    .bungkus-img img {
        width: 100%;
    }

    .bg-item {
        padding: 13px;
        box-sizing: border-box;
    }

    .products-wrapper p {
        width: 100% !important;
    }

    .products-wrapper button {
        width: 120px !important;
    }

    .testimonial .kintil {
        margin-bottom: 50px;
    }

    .scn-text {
        font-size: 1.6rem;
    }

    .about .store {
        width: 100% !important;
    }

    .contact h4 {
        text-align: center;
    }

    .socmed .icon {
        font-size: 1.9rem;
        color: #EF4D62;
    }

    .socmed .bungkus-icon {
        width: 80%;
    }

    #sosmed {
        height: auto;
        padding: 0px 0px 30px !important;
    }

    #footer {
        padding-bottom: 0;
    }

    .footer .nama-company {
        margin-bottom: 20px;
    }

 }
