* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    padding: 20px 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.joker {
    width: 100px;
}

.nav {
    width: 40px;
}

.joker, .nav {
    cursor: pointer;
}

.toggle {
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.toggle input {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 15px;
    cursor: pointer;
    opacity: 0;
    z-index: 9999;
}

.toggle span {
    display: block;
    background: white;
    width: 45px;
    height: 3px;
    transition: .5s;
    align-self: flex-end;
}

.toggle span:nth-child(3) {
    width: 30px;
    align-self: flex-end;
}

/* toggle */
.toggle input:checked ~ span:nth-child(2) {
    width: 30px;
}

.toggle input:checked ~ span:nth-child(3) {
    width: 45px;
}

.content {
    background-image: url(img/bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: white;
    position: relative;
    padding-left: 125px;
    box-sizing: border-box;
}

.content .main {
    position: absolute;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
}

.main h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 5px;
}

.main span {
    font-weight: 500;
}

.main p {
    line-height: 27px;
}

.trailer {
    display: flex;
    margin-top: 20px;
}

.trailer p {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.trailer img {
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.social-links {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    justify-content: space-between;
}

.social-links img {
    transform: scale(.6);
    cursor: pointer;
    filter: invert(1);
}

/* .social-links img.fb {
    height: 28px;
    width: 14px;
} */

.poster {
    width: 200px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(img/poster.png);
    background-size: cover;
    animation: animasiposter 15s linear infinite;
}

/* .poster img {
    width: 200px;
} */

@keyframes animasiposter {
    0% {
        background-position: 0 0%;
    }
    50% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 0%;
    }
}


/* mobile version */
@media screen and (max-width: 576px) {
    .header {
        padding: 25px 30px;
    }

    .social-links {
        right: 0;
        width: 50px;
        transform: translateX(100%);
        transition: 1s;
        align-items: center;
    }

    .social-links.slide {
        transform: translateX(0);
    }

    .content {
        padding-left: 30px;
        padding-right: 30px;
        overflow-x: hidden;
    }

    .content .main {
        width: 80%;
    }    

    .main h1 {
        font-size: 40px;
    }

    .main p {
        font-size: .95em;
        text-align: justify;
    }

    .poster {
        bottom: 20px;
    }
}

/* tablet version */
@media screen and (max-width: 768px) {
    .header {
        padding: 25px 45px;
    }

    .content {
        padding-left: 45px;
        padding-right: 45px;
        overflow-x: hidden;
    }
    
    .content .main {
        width: 75%;
    } 

    .main p {
        text-align: justify;
    }

    .poster {
        bottom: 25px;
    }
}

