* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

nav .logo {
    width: 150px;
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    width: 80%;;
}

nav .nav-links img {
    width: 40px;
}

nav ul {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    list-style: none;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color:#333;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    position: relative;
}

.hamburger input {
    position: absolute;
    height: 25px;
    width: 31px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    left: -1px;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #232d60;
    border-radius: 7px;
    transition: .5s;
}

.main {
    background-image: url(img/background.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.content {
    padding-top: 15%;
    padding-left: 15%;
    position: relative;
    z-index: 1;
   
}

.content h2 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 10px;
    color: #232d60;
}

.content p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #232d60;
}

.content .btn {
    background: linear-gradient(45deg, rgb(135, 173, 254), rgb(255, 119, 205));
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 3px 8px 22px rgba(61, 18, 44, 0.1);
}

.content .navigasi img {
    width: 30px;
    margin-right: 10px;
}

.main .cewe {
    width: 600px;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.social-links {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 180px;
    left: -70px;
}

.social-links a {
    text-decoration: none;
    color: #6a7199;
    font-size: 12px;
    padding-right: 20px;
}



/* hamburger menu animation */
.hamburger span:nth-child(2) {
    transform-origin: 0 0;
}

.hamburger span:nth-child(4) {
    transform-origin: 0 0;
}

.hamburger input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(2px, -1px);
}

.hamburger input:checked ~ span:nth-child(3) {
    transform: translateX(5px);
    opacity: 0;
}

.hamburger input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg);
}

.hamburger input:checked {
    width: 25px;
}




/* Responsive Tablet */
@media screen and (max-width: 768px) {
    .nav-links {
        width: 70% !important;
    }
    
    nav ul {
        width: 60%;
    }

    .content {
        padding-top: 20%;
    }

    .content h2 {
        font-size: 55px;
    }

    .content p {
        font-size: 18px;
    }

    .main .cewe {
        width: 325px;
    }

    .social-links {
        left: -100px;
    }
}

/* responsive hp */
@media screen and (max-width: 576px) {
    .container {
        background: linear-gradient(45deg, #87adfe, #ff77cd);
        justify-content: space-around;  
    }
    
    nav .logo {
        width: 170px;
    }

    nav .nav-links {
       position: absolute;
       right: 0;
       top: 0;
       flex-direction: column;
       height: 100vh;
       background: linear-gradient(to right, #87adfe, #ff77cd);
       align-items: center;
       justify-content: space-evenly;
       z-index: -1;
       width: 80%;
       transform: translateX(100%);
       transition: all 1s;
    }

    nav ul {
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
        align-items: center;
    }

    .nav-links a {
        color: #232d60;
    }

    nav .nav-links.slide {
        transform: translateX(0);
    }

    .hamburger {
        display: flex;
    }

    .hamburger span {
        background-color: white;
    }

    .content {
        padding-top: 25%;
        display: flex;
        flex-direction: column;
    }

    .content .btn {
        order: 3;
        align-self: flex-start;
        margin-bottom: 25px;
    }

    .content h2 {
        order: 1;
        margin-top: 0;
        font-size: 50px;
    }

    .content p {
        order: 2;
        font-size: 15px;
        letter-spacing: .3px;
    }

    .content .navigasi {
        order: 4;
    }

    .main .cewe {
        width: 300px;
    }

    .social-links {
        left: -95px;
    }

    .social-links a {
        font-size: 11px;
    }
}